body{

	background-image: url('/img/dark1.png') ;
}

#login-form-front{
	margin-top: 10px;
	margin-right: 10px;
}

#login-form-front > form > input{
	border-radius: 5px;

}

li a:hover{
	margin-top: -2px !important;
	border-bottom: 2px solid green !important;
}

.active{
	margin-top: -2px !important;
	border-bottom: 2px solid green !important;
}

.container-fluid
{
	margin-top: 35px !important;
}

.user_name
{
	margin-top: 20px;
	font-size: 16px;
	color: white;
}



