<!DOCTYPE html>
<html>
<head>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link href='http://fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
</head>

<body>
<nav role="navigation" class="navbar navbar-inverse navbar-default navbar-fixed" style="border-radius: 0px; box-shadow: 0px 2px 2px;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand"><img src="/img/prototype_3.png" style="margin-top: -15px; height:80px; width:80px;"></a>
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse" style="font-family: 'Strait', sans-serif;">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Messages</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if username %}
            <span class="user_name">{{username.first_name}} <a href="/logout"><button class="btn btn-success" style="background-color:green;">Logout</button></a></span>
            {% else %}
            <li><a href="#">Join</a></li>
            <li id="login-button"><a href="#">Login</a></li>
            <li id="login-form-front" style="display: none;">
                <form method="POST">
                    <input type="text" name="username" placeholder="username...">
                    <input type="password" name="password" placeholder="password...">
                    <input type="submit" value="Login">
                </form></li>
            {% endif %}
        </ul>
    </div> 
</nav>

<main>
    <div class="container-fluid">
        <div class="col-md-3" style="padding-right:25px;">
            <div class="row">
                <h1 align="center">The News</h1>
                <div class="news">
                    <table class="table table-hover">
                    <tbody class="news_content">
                        <tr>
                          <td>Jill</td>
                        <tr>
                          <td>Eve</td>
                        </tr>
                        <tr>
                          <td>Jill</td>
                        <tr>
                          <td>Eve</td>
                        </tr>
                        <tr>
                          <td>Jill</td>
                        <tr>
                          <td>Eve</td>
                        </tr>
                        <tr>
                          <td>Jill</td>
                        <tr>
                          <td>Eve</td>
                        </tr>
                        <tr>
                          <td>Jill</td>
                        <tr>
                          <td>Eve</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-9" style="padding-left:25px;">
            <div class="row">
                <h1>Global Leaderboard</h1>
                <table class="table table-bordered" style="border-radius:4px;">
                    <thead> 
                        <tr>
                            <td>Rank</td>
                            <td>Username</td>
                            <td>RP Points</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>Jill</td>
                          <td>Smith</td> 
                          <td>50</td>
                        </tr>
                        <tr>
                          <td>Eve</td>
                          <td>Jackson</td> 
                          <td>94</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>

</main>

<footer>
    <div>
    </div>
</footer>

    <!-- External Javascript Files -->
    <script src="/static/js/custom.js"></script>
</body>
</html>