<!DOCTYPE>
<html>
<head>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/jquery.min.js"></script>
<title>WhyPlay</title>
</head>
<body>
	<nav role="navigation" class="navbar navbar-inverse navbar-default navbar-fixed" style="border-radius: 0px; opacity: 0.8;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Brand</a>
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Messages</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
        </ul>
    </div>
</nav>
</body>
</html>